<div class="loadingContainer container" *ngIf="!needsAuth">
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
</div>

<div class="container" *ngIf="needsAuth">
<div class="loginContainer">
  <div class="topbar">Authenticate</div>

  <img src="/assets/images/robot.png" class="auth-icon" />

  <p>We are storing the endpoint in your Extracty account. You can create or login to an Extracty account using your GitHub account.</p>

  <span class="loginButton" (click)="continueWithGithub()">Continue with GitHub</span>
</div>

</div>
